

<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <div class="well">
            <form method="post" action="/home/addcandidate">
                <input type="text" class="form-control" placeholder="Name" name="name" />
                <br />
                <input type="text" class="form-control" placeholder="Number" name="number" />
                <br />
                <input type="text" class="form-control" placeholder="Notes" name="notes" />
                <br />
                <button class="btn btn-info btn-block">Submit</button>
            </form>
        </div>
    </div>
</div>


<hr />